* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.containar {
    width: 1350px;
    margin: 0 auto;
}

.row {
    display: flex;
    /* flex-wrap: wrap; */
}

.ali {
    align-items: center;
}

.jsc {
    justify-content: space-between;
}

.logo {
    width: 100px;
}

.logo img {
    width: 100%;
}

nav {
    padding: 10px 0;
}

ul li {
    display: inline-block;
    margin: 0 60px 0 0;
}
.links a {
    text-decoration: none;
    color: rgb(109, 96, 96);
    font-size: 20px;
    font-family: sans-serif;
}

.icon form input {
    border-radius: 50px;
    padding: 10px 5px;
    background-color: rgb(218, 205, 205);
    border: none;
    /* width: 10px; */
    /* padding: 0 30px 0 0; */
}

.icon i {
    padding: 0 0 0 20px;
}

.icon form input[type='text']::placeholder {
    opacity: 0.502;
    font-size: 15px;
    padding: 0 0 0 10px;
}

.icon form input[type='text'] {
    /* padding: 0 10px 0 0; */
    margin: 0 10px 0 0;
}
.col-15{
    width: 15%;
}


.img{
    width: 100%;
}
.img img{
    width: 100%;
}
.text h3{
    font-size: 15px;
    font-family: sans-serif;
    font-weight: 300;
    padding: 0 0 0 40px;

}